<div class="card">
    <div class="gener"> {%GENER%}</div>
    <div class="image">
        <img src="{%IMAGE%}"
            alt="anime">
    </div>
    <div class="rating">⭐ {%RATEING%}/10</div>
    <div class="Title">                
        {%TITLE%}
    </div>
    <div class="details">
        <div class="content-small">                     
            <div>seasons : {%SEASON%}</div>
            <div>Episodes : {%EPISODES%}</div> 
        </div>                
    </div>
    <div class="link">
     <a href="/anime?id={%ID%}">More details ››</a>
    </div>
</div>